{% extends '_layout.html.twig' %}

{% block content %}
    <h3>Tubes</h3>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Tube</th>
            <th scope="col">Urgent Jobs</th>
            <th scope="col">Ready Jobs</th>
            <th scope="col">Reserved Jobs</th>
            <th scope="col">Delayed Jobs</th>
            <th scope="col">Buried Jobs</th>
            <th scope="col">Total Jobs</th>
        </tr>
        </thead>
        <tbody>
        {% for tube in tubes %}
            <tr>
                <th scope="row"><a href="/tube/{{ tube.name }}">{{ tube.name }}</a></th>
                <td>{{ tube.currentJobsUrgent }}</td>
                <td>{{ tube.currentJobsReady }}</td>
                <td>{{ tube.currentJobsReserved }}</td>
                <td>{{ tube.currentJobsDelayed }}</td>
                <td>{{ tube.currentJobsBuried }}</td>
                <td>{{ tube.totalJobs }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
