{% extends '_layout.html.twig' %}

{% block content %}
    <h2 class="my-4">
        Flow <small class="text-muted">{{ flowCode }}</small>
        <a class="btn btn-secondary btn-sm float-right" role="button" href="/">&laquo; Back</a>
    </h2>


    <h4>Search</h4>
    <form action="/flow/{{ flowCode }}" method="get">
        <div class="form-group">
            <input type="search" class="form-control form-control-lg" id="query" aria-describedby="queryHelp"
                   placeholder="Enter a query" name="query" value="{{ query }}">
            <small id="queryHelp" class="form-text text-muted">
                Search for jobs in this flow
                (use <a href="https://lucene.apache.org/core/2_9_4/queryparsersyntax.html" target="_blank">Lucene query syntax</a>).
            </small>
        </div>
    </form>

    {% if pager.getCurrentPageResults|length > 0 %}
        <form>
        <div class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Select
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#" onclick="selectAll(this); return false;">Toggle All</a>
                        <a class="dropdown-item" href="#" onclick="selectVisible(this); return false;">Toggle Visible</a>
                    </div>
                </li>
            </ul>
            <span class="navbar-text">
                <span id="selected-count">0</span> selected
            </span>
            <div class="form-inline">
                <input type="hidden" name="select-all" value="" />
                <button type="submit" name="job-select-action" value="requeue" class="btn btn-secondary" disabled="disabled">
                    <span class="oi oi-action-redo"></span>
                    Requeue
                </button>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Job ID</th>
                    <th scope="col">Job Payload</th>
                    <th scope="col">Job Last Event</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for job in pager.getCurrentPageResults %}
                    <tr>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input position-static job-select-control" type="checkbox"
                                       name="selected[]" value="{{ job.uuid }}" aria-label="...">
                            </div>
                        </td>
                        <th scope="row">{{ job.uuid }}</th>
                        {% set payload = job.payloadData|json_encode() %}
                        <td><pre>{{ payload|length > 70 ? payload|slice(0, 70) ~ '...' : payload }}</pre></td>
                        <td><pre>{{ job.lastEvent.type }}</pre></td>
                        <td>
                            <div class="btn-group btn-group-sm" role="group" aria-label="Actions">
                                <a class="btn btn-secondary" href="/flow/{{ flowCode }}/job/{{ job.uuid }}">
                                    <span class="oi oi-eye"></span>
                                    View
                                </a>
                            </div>
                            <div class="btn-group btn-group-sm" role="group" aria-label="Actions">
                                <a class="btn btn-secondary" href="/flow/{{ flowCode }}/job/{{ job.uuid }}/requeue">
                                    <span class="oi oi-action-redo"></span>
                                    Requeue
                                </a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        </form>
    {% endif %}

    <div class="d-flex justify-content-center">
        {{ pagerfanta(pager, '/flow/'~ flowCode ~'?page={page}') }}
    </div>

    <script type="text/javascript">
        var allCount = 10000;

        document.onreadystatechange = function () {
            if (document.readyState === "complete") {
                $('.job-select-control').on('change', updateSelectionState);
            }
        }

        function updateSelectionState() {
            var selected = $('.job-select-control:checked').length;
            $('#selected-count').text(selected);
            if ($('input[name="select-all"]').val()) {
                $('#selected-count').text(allCount);
            }
            $('button[name="job-select-action"]').attr('disabled', true);
            if (selected) {
                $('button[name="job-select-action"]').removeAttr('disabled');
            }
        }

        function selectVisible(control) {
            $('.job-select-control').attr('checked', 'checked');
            $(control).attr('onclick', 'unselectVisible(this); return false;');
            updateSelectionState();
        }

        function unselectVisible(control) {
            $('.job-select-control').removeAttr('checked');
            $(control).attr('onclick', 'selectVisible(this); return false;');
            updateSelectionState();
        }

        function selectAll(control) {
            $('.job-select-control').attr('checked', 'checked');
            $(control).attr('onclick', 'unselectAll(this); return false;');
            $('input[name="select-all"]').val('1');
            updateSelectionState();
        }

        function unselectAll(control) {
            $('.job-select-control').removeAttr('checked');
            $(control).attr('onclick', 'selectAll(this); return false;');
            $('input[name="select-all"]').val('');
            updateSelectionState();
        }
    </script>

{% endblock %}
