{% extends '_layout.html.twig' %}

{% block content %}
    <h2 class="my-4">
        Flow <small class="text-muted">{{ flowCode }}</small>
        <a class="btn btn-secondary btn-sm float-right" role="button" href="/">&laquo; Back</a>
    </h2>


    <h4>Search</h4>
    <form action="/flow/{{ flowCode }}" method="get">
        <div class="form-group">
            <input type="search" class="form-control form-control-lg" id="query" aria-describedby="queryHelp"
                   placeholder="Enter a query" name="query" value="{{ query }}">
            <small id="queryHelp" class="form-text text-muted">
                Search for jobs in this flow
                (use <a href="https://lucene.apache.org/core/2_9_4/queryparsersyntax.html" target="_blank">Lucene query syntax</a>).
            </small>
        </div>
    </form>

    {% if pager.getCurrentPageResults|length > 0 %}
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Job ID</th>
                    <th scope="col">Job Payload</th>
                    <th scope="col">Job Last Event</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for job in pager.getCurrentPageResults %}
                    <tr>
                        <th scope="row">{{ job.uuid }}</th>
                        {% set payload = job.payloadData|json_encode() %}
                        <td><pre>{{ payload|length > 70 ? payload|slice(0, 70) ~ '...' : payload }}</pre></td>
                        <td><pre>{{ job.lastEvent.type }}</pre></td>
                        <td>
                            <div class="btn-group btn-group-sm" role="group" aria-label="Actions">
                                <a class="btn btn-secondary" href="/flow/{{ flowCode }}/job/{{ job.uuid }}">
                                    <span class="oi oi-eye"></span>
                                    View
                                </a>
                            </div>
                            <div class="btn-group btn-group-sm" role="group" aria-label="Actions">
                                <a class="btn btn-secondary" href="/flow/{{ flowCode }}/job/{{ job.uuid }}/requeue">
                                    <span class="oi oi-action-redo"></span>
                                    Requeue
                                </a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}

    <div class="d-flex justify-content-center">
        {{ pagerfanta(pager, '/flow/'~ flowCode ~'?page={page}') }}
    </div>

{% endblock %}
